name: Sync Karing Releases

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch: 

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync Releases
        uses: gacts/github-releases-sync@v1
        with:
          # 源仓库
          from_repo: KaringX/karing
          # 目标仓库（即你的仓库）
          to_repo: ${{ github.repository }}
          # 使用自动生成的 Token
          gh_token: ${{ secrets.GITHUB_TOKEN }}
