name: Sync Karing Releases

on:
  schedule:
    - cron: '0 0 * * *' # 每天凌晨 12 点自动检查更新
  workflow_dispatch: # 允许手动点击按钮开始同步

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync Releases from Upstream
        uses: JpS67/release-sync-action@v1.0.1
        with:
          owner: "KaringX"
          repo: "karing"
          # 你的 GitHub Token，用于在你的仓库创建 Release
          token: ${{ secrets.GITHUB_TOKEN }}
          # 默认会同步所有的 Release 附件
          delete_orphaned_releases: false
